<!-- File name: footer.ejs
  Student Name: Meetkumar Patel
  Student Id: 301332660
  Date: Oct 9th 2023  -->

<link rel='stylesheet' href='/stylesheets/footer.css' />
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Portfolio</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>


  <footer>
    <div class="footer-container">
      <div class="contact-info">
        <h3>Contact Information</h3>
        <p>Email: meet36043@gmail.com</p>
        <p>Phone: (437) 365-0108</p>

      </div>

      <div class="location">
        <h3>Location</h3>
        <p>Scarborough, Toronto, Canada</p>
      </div>


    </div>

    <div class="copyright">
      <p>&copy; 2023 Meetkumar Patel. All Rights Reserved.</p>
    </div>
  </footer>
</body>

</html>