<!-- File name: header.ejs
  Student Name: Meetkumar Patel
  Student Id: 301332660
  Date: Oct 9th 2023  -->

<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="navbar">
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <img src="./images/logo.jpg" height="50px" width="50px" alt="Logo" />
    <a href="/"><i class="fa fa-fw fa-home"></i> Home</a>
    <a href="/about"><i class="fa fa-fw fa-user"></i> About Me</a>
    <a href="/projects"><i class="fa fa-fw fa-tasks"></i> Projects</a>
    <a href="/services"><i class="fa fa-fw fa-cogs"></i> Services</a>
    <a href="/contact"><i class="fa fa-fw fa-envelope"></i> Contact Me</a>
  </div>
</body>