<!-- File name: about.ejs
  Student Name: Meetkumar Patel
  Student Id: 301332660
  Date: Oct 9th 2023  -->

<%- include('partials/header') %>

  <link rel="stylesheet" type="text/css" href="/stylesheets/aboutme.css">
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>

  <body>

    <div>
      <h2>About me</h2>

      <h3>Meetkumar Patel</h3>

      <img src="/images/Me.jpeg" style="width: 200px" alt="Meet Patel">

      <p>I'm a passionate web developer & app developer with experience in building user-friendly and scalable web & app
        applications...</p>
      <div>
        <a href="/images/Meetkumar Patel resume.docx">Download Resume</a>
      </div>

    </div>

  </body>

  </html>
  <%- include('partials/footer') %>