<!-- File name: projects.ejs
  Student Name: Meetkumar Patel
  Student Id: 301332660
  Date: Oct 9th 2023  -->

<%- include('partials/header') %>

    <link rel="stylesheet" type="text/css" href="/stylesheets/projects.css">
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Portfolio</title>
        <link rel="stylesheet" type="text/css" href="styles.css">
    </head>

    <body>

        <h2>Projects</h2>

        <div class="project">
            <img src="/images/home.png" alt="Project 1">
            <div class="project-details">
                <h3>Lease Or RentHome Inc</h3>
                <p>LeaseOrRentHome Inc. is embarking on the development of an Android application designed to streamline
                    the process of finding the perfect home.</p>
                <h3>Technologies Used:</h3>
                <p>Kotlin (Programming Language)</p>
            </div>
        </div>

        <div class="project">
            <img src="/images/calculator.jpeg" alt="Project 2">
            <div class="project-details">
                <h3>Windows Form Calculator App</h3>
                <p>The Windows Form Calculator app is a user-friendly and efficient tool designed to perform basic
                    arithmetic operations. Developed using C# and the Windows Forms framework, this application provides
                    a seamless and intuitive user experience.</p>
                <h3>Technologies Used:</h3>
                <p>C# (Programming Language) & Windows Forms (GUI Framework)</p>
            </div>
        </div>

    </body>
    <%- include('partials/footer') %>

    </html>