<!-- File name: services.ejs
  Student Name: Meetkumar Patel
  Student Id: 301332660
  Date: Oct 9th 2023  -->

<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/services.css"> <!-- Link to the new CSS file -->
  </head>

  <body>
    <div class="container">

      <h2>Services</h2>

      <div class="service">
        <img src="/images/mobileapp.png" alt="Service 1">
        <h3>Mobile App Development</h3>
        <p>From concept to deployment, I have experience developing native mobile apps for both Android and iOS
          platforms. I can create intuitive and feature-rich applications tailored to your needs.</p>
      </div>

      <div class="service">
        <img src="/images/webdevelopmemt.jpeg" alt="Service 2">
        <h3>Web Development</h3>
        <p>I specialize in creating responsive and user-friendly websites. Whether you need a simple landing page or a
          complex e-commerce platform, I have the skills to bring your vision to life.</p>
      </div>

      <div class="service">
        <img src="/images/dbms.png" alt="Service 3">
        <h3>Database Management</h3>
        <p>Efficient database management is essential for storing and retrieving data seamlessly. I have expertise in
          designing and optimizing databases for improved performance and scalability.</p>
      </div>

    </div>
  </body>

  <%- include('partials/footer') %>

</html>