/*File name: style.css
  Student Name: Meetkumar Patel
  Student Id: 301332660
  Date: Oct 9th 2023*/

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #74cee9;
}